


.header{
   display: flex; 
   justify-content:space-around;
   align-items: center;
   padding: 20px 50px;
   background-color: chocolate;
   color:white
}
.header ul{
    display: flex;
    gap: 10px;
}

li{
    margin-right: 20px;
}

.nav-link{
    color:rgb(92, 61, 40);
    text-decoration: none;
}

h1{
    font-size: 40px;
    font-weight: 800;
    font-family:  "techspace",  system-ui;
}
